<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <form action="/new" method="post">
    <div class="form-group">
      <label for="title">제목</label>
      <input type="text" id="title" name="title" placeholder="제목을 입력하세요">
    </div>
    <div class="form-group">
      <label for="content">할일</label>
      <input type="text" id="content" name="content" placeholder="할일을 입력하세요">
    </div>
    <button type="submit">등록</button>
  </form>
</div>
</body>
</html>